# Wildcards

*.a
*.dylib
*.import.c
*.o
*.so
*.so.[0-9]*

# Generated text files

/buildbranch
/buildid
/chicken-config.h
/chicken-defaults.h
/feathers

# Compiled binary executables

/chicken
/chicken-boot
/chicken-boot-stage1
/chicken-do
/chicken-install
/chicken-profile
/chicken-status
/chicken-uninstall
/csc
/csi

# Compiled Scheme modules' C code

/batch-driver.c
/build-version.c
/build.c
/c-backend.c
/c-platform.c
/chicken-ffi-syntax.c
/chicken-install.c
/chicken-profile.c
/chicken-status.c
/chicken-syntax.c
/chicken-uninstall.c
/chicken.c
/compiler-syntax.c
/continuation.c
/core.c
/csc.c
/csi.c
/data-structures.c
/debugger-client.c
/eval-modules.c
/eval.c
/expand.c
/extras.c
/file.c
/internal.c
/irregex.c
/lfa2.c
/library.c
/lolevel.c
/modules.c
/optimizer.c
/pathname.c
/port.c
/posixunix.c
/profiler.c
/read-syntax.c
/repl.c
/scheduler.c
/scrutinizer.c
/srfi-4.c
/stub.c
/support.c
/tcp.c
/user-pass.c

# Compiled Scheme modules' imports

/chicken.bitwise.import.scm
/chicken.blob.import.scm
/chicken.compiler.batch-driver.import.scm
/chicken.compiler.c-backend.import.scm
/chicken.compiler.c-platform.import.scm
/chicken.compiler.chicken.import.scm
/chicken.compiler.compiler-syntax.import.scm
/chicken.compiler.core.import.scm
/chicken.compiler.lfa2.import.scm
/chicken.compiler.optimizer.import.scm
/chicken.compiler.scrutinizer.import.scm
/chicken.compiler.support.import.scm
/chicken.compiler.user-pass.import.scm
/chicken.continuation.import.scm
/chicken.errno.import.scm
/chicken.eval.import.scm
/chicken.file.import.scm
/chicken.file.posix.import.scm
/chicken.fixnum.import.scm
/chicken.flonum.import.scm
/chicken.format.import.scm
/chicken.gc.import.scm
/chicken.internal.import.scm
/chicken.io.import.scm
/chicken.irregex.import.scm
/chicken.keyword.import.scm
/chicken.load.import.scm
/chicken.locative.import.scm
/chicken.memory.import.scm
/chicken.memory.representation.import.scm
/chicken.pathname.import.scm
/chicken.platform.import.scm
/chicken.plist.import.scm
/chicken.port.import.scm
/chicken.pretty-print.import.scm
/chicken.process-context.import.scm
/chicken.process-context.posix.import.scm
/chicken.process.import.scm
/chicken.process.signal.import.scm
/chicken.random.import.scm
/chicken.read-syntax.import.scm
/chicken.repl.import.scm
/chicken.sort.import.scm
/chicken.string.import.scm
/chicken.tcp.import.scm
/chicken.time.posix.import.scm
/srfi-4.import.scm
